apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: template
spec:
  type: NodePort
  selector:
    app: nginx-dev
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30081  # Optionally specify a port in the 30000-32767 range