apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: template  # replace with your actual namespace
spec:
  type: NodePort
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
      nodePort: 32017  # This is the port that will be exposed on each node
